
@import url('https://fonts.googleapis.com/css?family=Roboto|Yeon+Sung&display=swap');

body {
    background: #82575F;
    padding-top: 56px;
    font-family: 'Roboto', sans-serif;
}

a:visited {
    color: white;
}

a {
    text-decoration: none;
    color: white;
}

a:hover {
    text-decoration: none;
    color: white;
}

.c-card{
    background: #B78C8E;
}

.c-badge{
    background: #82575F;
}

.c-text {
    color: #82575F;
}

.blog {
    font-family: 'Yeon Sung', cursive;
}

/* Google Map*/

/* Always set the map height explicitly to define the size of the div
 * element that contains the map. */
#map {
    height: 80%;
    width: 40%;
    margin: 100px auto 0 auto;
}
/* Optional: Makes the sample page fill the window. */
html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

