
@import url('https://fonts.googleapis.com/css?family=Roboto|Yeon+Sung&display=swap');

body {
    background: #82575F;
    padding-top: 56px;
    font-family: 'Roboto', sans-serif;
}

a:visited {
    color: white;
}

a:hover {
    text-decoration: none;
}

.c-card{
    background: #B78C8E;
}

.c-badge{
    background: #82575F;
}

.c-text {
    color: #82575F;
}

.blog {
    font-family: 'Yeon Sung', cursive;
}

